*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
gradle/
gradlew/
gradlew.bat
.idea/
app/client_secret_670043583488-iqts6khjo8cvc5g4p0o4236t9d15m59t.apps.googleusercontent.com.json
gradlew